body {
    background-color:#ffffff;
}
.navbar {
    background-color:  rgb(92, 106, 240);
}
.nav-link {
    color: #ffffff;
}
.header {
    background-color: #ffffff;
}
.text_black {
    color: black;
    font-size: large;
}
.text_black:hover {
    background-color: rgb(92, 106, 240);
    color: black;
}
.logo_text {
    color:black;
    width: 200px;
    font-size: 20px;
}
.logo_text_1 {
    color:grey;
    width: 200px;
}
.navs_topics:hover {
    color: rgb(92, 106, 240);
    background-color:#ffffff;
}
.btn_search {
    color: #ffffff;
    background-color:#ffffff;
}
.footer {
    background-color: rgb(208, 233, 245)
}
.contact {
    padding-left: 50px;
}
.contact_text {
    font-size: large;
}
.mail_icon {
    padding-left: 25px;
}
