*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===============================================================
CONTENTS

1.COLORS
2.ELEMENTS
    2.1 BUTTONS
    2.2 LOWER-CARD
    2.3 SECTION-DIVIDER
    2.4 NAVBAR
    2.5 FOOTER
3.SECTIONS
    3.1 UPPER SECTION
    3.2 VIDEO SECTION
    3.3 SUGGESTED-CONTENT SECTION
    3.4 THE NEWEST ARTICLES
4.MISCELLANEOUS && TBD
==================================================================*/

/* ==========
1.COLORS
*/

.upper-nav-color, .white-section-color {
    background-color: #ffffff;
}

.nav-color, .dark-div-color{
    background-color: #2f75d3;
}

.upper-div-color {
    background-color: #99c1e3;
}

.light-card-color {
    background-color: #609df2;
}

.btn-color {
    background-color: #3175d1;
}

.footer-color {
    background-color: #d3e7f9;
}

.video-section-color {
    background-color: #d1d0d0;
}

/* ===============================================================
2.ELEMENTS 
==================================================================*/

/* ==========
2.1 BUTTONS
*/

.btn {
    width: 140px;
    height: 45px;
    background-color: #3175d1;
    border: none;
    color: #f9ffff;
    font-size: 17px;
}

.btn-navigate {
    width: 87px;
    height: 71px;
    background-color: #9b9c9f;
    border: none;
    font-size: 4rem;
    color: #feffff;
    opacity: 90%;
}

.button-articles{
    margin-top: 10px;
}

/* ==========
2.2 LOWER-CARD
*/

.lower-card {
    width: 260px;
    height: 375px;
    box-shadow: 0 0 10px 1px #8888884a;
}

.lower-card-pic {
    width: 100%;
    height: 148px;
}

.lower-card-content {
    padding: 25px 14px;
    padding-top: 44px;
    height: calc(100% - 148px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lower-card-content h1 {
    font-weight: 500;
    margin-bottom: 19px;
}

.lower-card-content p {
    font-size: 12px;
    max-height: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    overflow: hidden;
    text-align: left;
    line-height: 1.25;
}

/* ==========
2.3 SECTION-DIVIDER
*/

.section-divider {
    height: 63px;
    background-color: #2f75d3;
    display: flex;
}

.section-divider h1 {
    margin-left: 10vw;
    align-self: center;
    color: #f8ffe4;
}

@media only screen and (min-width: 2500px) {
    .section-divider h1 {
        margin-left: 27vw;
    }
}
@media only screen and (max-width: 1025px) {
    .section-divider h1 {
        margin-left: 5vw;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2500px){
    .section-divider h1 {
        margin-left: 20vw;
    }
}

/* ==========
2.4 NAVBAR
*/

.navbar_top {
    display: flex;
    background-color: #ffffff;
}
.sec {
    display: flex;
    width: 33.3%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.sec3 a {
    padding-left: 20px;
    color: black;
}
/* .sec3 a:hover {
    background-color: #2f75d3;
} */
.sec1 p {
    padding-left: 20px;
    color: black;
}
.sec2 p {
    padding-left: 20px;
    color: gray;
}

.navbar_second ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
.navbar_second ul li{
    width: 11%;
}
.navbar_second ul li > ul {
    display: none;
    flex-direction: column;
}
.navbar_second ul li > ul li{
    width: 100%;
}
.navbar_second ul li:hover > ul{
   display: flex;
}
.navbar_second a {
    display: block;
    padding: 15px;
    text-align: center;
    color: #ffffff;
}
.navbar_second a:hover {
    background-color: #ffffff;
    color: #2f75d3; 
}
.navbar_second .dropdown > a:after {
    content: '\21E9';
    padding-left: 5px;
}
.navbar_second .dsearch > a:after {
    content: none;
}
.search {
    height: 35px;
}

@media only screen and (max-width: 1150px) {
    .navbar_second ul {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar_second ul li{
        font-size: 85%;
  }
    .navbar_second a {
        padding: 5px;
    }
}

@media only screen and (max-width: 900px) {
    .navbar_second ul li{
        width: 20%;
        font-size: 80%; 
  }
    .sec {
        justify-content: space-around;
    }
    .sec1 p, .sec2 p, .sec3 img {
    display: none;
    }
}

@media only screen and (max-width: 450px) {
.navbar_second ul li{
    width: 100%;
    font-size: 100%;
    padding-bottom: 15px;; 
}
.navbar_top {
    flex-direction: column;
    align-items: center;
}
.sec1, .sec2 {
    display: none;
}
}

/* ==========
2.5 FOOTER
*/

.footer {
    display: flex;
    background-color: rgb(208, 233, 245);
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.footer_sec {
    margin-left: 80px;
    margin-right: 80px;
}

@media only screen and (max-width: 725px) {
    .footer {
        flex-direction: column;
        height: 100%;
        font-size: 80%;
    }
    .footer_sec {
        padding-bottom: 15px;
    }
    .footer p {
        position: relative;
        right: 70px;
        top: 25px;
    }
}
@media only screen and (max-width: 400px) {
    .footer_sec {
        margin-right: 20px;
    }
}


/* ===============================================================
3.SECTIONS
==================================================================*/

/* ==========
3.1 UPPER SECTION
*/

.upper-section-top {
    background-color: #95bee3;
    height: 587px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.text-content {
    position: relative;
    top: 109px;
    left: 5%;
}

.text-content p{
    max-width: 700px;
    max-height: 75px;
    overflow: hidden;
    margin: 21px 0;
    font-weight: 500;
    text-align: left;
    line-height: 1.20;
    color: #ebffff;
}

.text-content h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #f3fbff;
}

.text-content h1 span {
    color: #2f6ec8;
}

.upper-section-top img {
    opacity: 60%;
    height: 700px;
    width: auto;
    position: relative;
    top: 10px;
    left: -50px;
}

.container-quad {
    position: relative;
    bottom: 250px;
    margin-bottom: -250px;
}

.container-quad .row {
    margin: 0;
}

.upper-card, .upper-card-light {
    width: 233px;
    height: 298px;
    color: #f2ffff;
    margin: 0 35px;
    background-color: #2f75d3;
}
.upper-card-light {
    background-color: #619dee;
}

.upper-card-pic {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-card-content h1 {
    text-align: center;
    font-size: 18px;
}

.upper-card-content p {
    font-size: 12px;
    max-height: 72px;
    margin: 26px 12px 44px 16px;
    font-weight: 500;
    overflow: hidden;
    text-align: left;
    line-height: 1.5;
}

.quad-link-left {
    width: 450px;
    height: 270px;
    margin-left: auto;
    margin-right: 80px;
    text-align: left;
    padding-top: 115px;
    overflow: hidden;
}

.quad-link-left p{
    padding-top: 20px;
    height: 270px;
}

.quad-link-right {
    width: 700px;
    height: 380px;
    margin-left: -110px;
    padding-top: 40px;
}

.quad-links {
    height: 170px;
    width: 220px;
}

.quad-links a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quad-link-titles {
    position: absolute;
    font-size: 2rem;
    z-index: 2;
    color: white;
}

.quad-links img {
    box-shadow: 0 0 20px 14px #c3bbbb;
    position: relative;
    opacity: 80%;
}

@media only screen and (max-width: 1024px) {

    .upper-card, .upper-card-light {
        margin: 0;
    }

    .text-content {
        left: 10%;
    }

    .quad-links {
        height: 145px;
    }

    .quad-link-right {
        width: 600px;
        height: 380px;
        margin-left: -120px;
        padding-top: 60px;
    }

    .quad-link-left {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {

    .upper-section-top img {
        height: 500px;
    }

    .upper-section-top {
        height: 500px;
    }
    
    .container-quad {
        left: -50px;
        bottom: 200px;
    }

    .upper-card, .upper-card-light {
        margin-left: 100px;
        margin-top: 75px;
    }

    .quad-link-left {
        width: 650px;
        margin-left: 80px;
        padding-top: 75px;
    }
    .quad-link-right {
        width: 700px;
        height: 380px;
        margin-left: 80px;
        padding-top: 50px;
        margin-bottom: 100px;
    }

    .quad-links {
        height: 175px;
        width: 220px;
    }
}

@media only screen and (max-width: 425px) {
    
    .text-content {
        top: 50px;
        width: 75%;
    }

    .upper-section-top img {
        height: 500px;
        left: 75px;
        top: 0;
    }

    .container-quad {
        bottom: 150px;
        margin-bottom: 0;
    }
    
    .quad-link-left {
        height: 250px;
    }

    .quad-link-left p {
        width: 95%;  
    }

    .quad-link-left {
        max-width: 350px;
        margin-left: 80px;
        padding-top: 75px;
    }

    .quad-link-right {
        max-width: 400px;
        margin-left: 50px;
        padding-top: 60px;
        margin-bottom: 260px;
    }
}

@media only screen and (max-width: 375px) {

    .quad-link-left {
        max-width: 300px;
        padding-top: 75px;
    }
    .quad-link-right {
        max-width: 350px;
        padding-top: 60px;
        margin-bottom: 240px;
    }
}

@media only screen and (max-width: 320px) {

    .upper-section-top img {
        height: 450px;
        left: 75px;
    }
    .quad-link-left {
        max-width: 260px;
        height: 275px;
        padding-top: 75px;
    }
    .quad-link-right {
        max-width: 300px;
        padding-top: 60px;
        margin-bottom: 200px;
    }
}

/* ==========
3.2 VIDEO SECTION
*/

.video-section {
    background-color: #d1d0d0;
    padding-bottom: 1px;
}

.video-row {
    max-width: 1360px;
    margin: 37px auto;
}

.prev-video, .next-video {
    height: 319px;
    width: 188px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.prev-video .btn-navigate {
    position: absolute;
    margin-left: 13px;
}

.next-video .btn-navigate {
    position: absolute;
    margin-left: calc(188px - 87px - 13px)
}

.prev-video iframe, .next-video iframe {
    pointer-events: none;
    
}

.middle-video {
    height: 315px;
    width: 580px;
    display: flex;
}

.middle-video .btn-navigate {
    display: none;
    position: absolute;
}


@media only screen and (max-width: 768px) {
    .middle-video {
        height: calc(324px - 90px);
        width: calc(480px - 50px);
    }
    .prev-video, .next-video {
        height: calc(319px - 90px);
        width: calc(188px - 50px);
    }
    .next-video .btn-navigate {
        position: absolute;
        margin-left: calc(188px - 50px - 87px - 13px)
    }
}
@media only screen and (max-width: 767px) {
    .middle-video {
        height: calc(324px - 130px);
        width: calc(480px - 120px);
        display: flex;
        align-items: center;
    }
    .prev-video, .next-video {
        display: none;
        position: absolute;
    }
    .middle-video .btn-navigate {  
        display: inline;
        position: absolute
    }
    .btn-navigate-right {
        left: 305px;
    }
}
@media only screen and (max-width: 375px) {
    .middle-video {
        height: calc(324px - 145px);
        width: calc(480px - 150px);
        display: flex;
        align-items: center;
    }
    
    .btn-navigate-right {
        left: 266px;
    }
}
@media only screen and (max-width: 320px) {
    .middle-video {
        height: calc(324px - 155px);
        width: calc(480px - 170px);
        display: flex;
        align-items: center;
    }
    
    .btn-navigate-right {
        left: 228px;
    }
}

/* ==========
3.3 SUGGESTED-CONTENT SECTION
*/

.content-row {
    max-width: 1360px;
    margin: 37px auto;
}

@media only screen and (min-width: 770px) {
    .content-mid-col {
        margin-top: calc(55px - 37px);
    }
}

@media only screen and (max-width: 770px) {
    .lower-card {
        margin-bottom: 37px;
    }
}

/* ================================ */
/* 3.4 THE NEWEST ARTICLES */
/* ================================ */
.latest-news-section{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;    
}

.latest-news-section-my-cont{
    padding: 0px 20px;
    margin: 0 auto;
    max-width: 1360px;
}

.latest-news-section-my-row{
    padding: 5px;
}

.latest-news-section-my-col{
    height: 10em;
    overflow: hidden;
}

.latest-news-section-my-col img{
    max-height: 100%;
    max-width: 100%;
}
/* stavam heigh na colonata od buttonot za da ne pravi pomestuvanje od article do article */
#special{
    height: 50px;
}
.text-bolder{
    font-weight: 500;
}

.text--aligner-justify{
    text-align: justify;
}

/* ===============================================================
4.MISCELLANEOUS && TBD
==================================================================*/

.disable-select {
    user-select: none;
}

h1 {
    font-size: 24px;
}
