*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===============================================================
CONTENTS

1.COLORS
2.ELEMENTS
    2.1 BUTTONS
    2.2 LOWER-CARD
    2.3 SECTION-DIVIDER
3.SECTIONS
    3.1 VIDEO SECTION
    3.2 SUGGESTED-CONTENT SECTION
4.MISCELLANEOUS && TBD
==================================================================*/

/* ==========
1.COLORS
*/

.upper-nav-color, .white-section-color {
    background-color: #ffffff;
}

.nav-color, .dark-div-color{
    background-color: #2f75d3;
}

.upper-div-color {
    background-color: #99c1e3;
}

.light-card-color {
    background-color: #609df2;
}

.btn-color {
    background-color: #3175d1;
}

.footer-color {
    background-color: #d3e7f9;
}

.video-section-color {
    background-color: #d1d0d0;
}

.container-quad {
    max-width: 950px;
    max-height: 300px;
    margin: 0 auto;
}


/* ===============================================================
2.ELEMENTS 
==================================================================*/

/* ==========
2.1 BUTTONS
*/

.btn {
    width: 140px;
    height: 45px;
    background-color: #3175d1;
    border: none;
    color: #f9ffff;
    font-size: 17px;
}

.btn-navigate {
    width: 87px;
    height: 71px;
    background-color: #9b9c9f;
    border: none;
    font-size: 4rem;
    color: #feffff;
    opacity: 70%;
}

/* ==========
2.2 LOWER-CARD
*/

.lower-card {
    width: 260px;
    height: 375px;
    box-shadow: 0 0 10px 1px #8888884a;
}

.lower-card-pic {
    width: 100%;
    height: 148px;
}

.lower-card-content {
    padding: 25px 14px;
    padding-top: 44px;
    height: calc(100% - 148px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lower-card-content h1 {
    font-weight: 500;
    margin-bottom: 19px;
}

.lower-card-content p {
    font-size: 12px;
    max-height: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    overflow: hidden;
    text-align: left;
    line-height: 1.25;
}

/* ==========
2.3 SECTION-DIVIDER
*/

.section-divider {
    height: 63px;
    background-color: #2f75d3;
    display: flex;
}

.section-divider h1 {
    margin-left: 10vw;
    align-self: center;
    color: #f8ffe4;
}

@media only screen and (min-width: 2500px) {
    .section-divider h1 {
        margin-left: 27vw;
    }
}
@media only screen and (max-width: 1025px) {
    .section-divider h1 {
        margin-left: 5vw;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2500px){
    .section-divider h1 {
        margin-left: 20vw;
    }
}

/* ===============================================================
3.SECTIONS
==================================================================*/

/* ==========
3.1 VIDEO-SECTION
*/

.video-section {
    background-color: #d1d0d0;
    padding-bottom: 1px;
}

.video-row {
    max-width: 1360px;
    margin: 37px auto;
}

.video-section-container {
    max-height: 416px;
}

.prev-video, .next-video {
    height: 319px;
    width: 188px;
    display: flex;
    align-items: center;
}

.prev-video iframe, .next-video iframe {
    pointer-events: none;
}

.middle-video {
    height: 324px;
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev-video .btn-navigate {
    position: absolute;
    margin-left: 13px;
}

.next-video .btn-navigate {
    position: absolute;
    margin-left: calc(188px - 87px - 13px)
}

.middle-video .btn-navigate {
    display: none;
    position: absolute;
}


@media only screen and (max-width: 768px) {
    .middle-video {
        height: calc(324px - 50px);
        width: calc(480px - 50px);
    }
    .prev-video, .next-video {
        height: calc(319px - 50px);
        width: calc(188px - 50px);
    }
    .next-video .btn-navigate {
        position: absolute;
        margin-left: calc(188px - 50px - 87px - 13px)
    }
}
@media only screen and (max-width: 767px) {
    .middle-video {
        height: calc(324px - 125px);
        width: calc(480px - 200px);
    }
    .prev-video, .next-video {
        display: none;
        position: absolute;
    }
    .middle-video .btn-navigate {
        display: block;
        /* position: absolute; */
    }
}



/* ==========
3.2 SUGGESTED-CONTENT SECTION
*/

.content-row {
    max-width: 1360px;
    margin: 37px auto;
}

@media only screen and (min-width: 770px) {
    .content-mid-col {
        margin-top: calc(55px - 37px);
    }
}

@media only screen and (max-width: 770px) {
    .lower-card {
        margin-bottom: 37px;
    }
}

/* ===============================================================
4.MISCELLANEOUS && TBD
==================================================================*/


.upper-card {
    width: 237.5px;
}

h1 {
    font-size: 24px;
}
